@charset "UTF-8";

@media screen and (max-width: 768px) {
  .header {
    padding-top: 10px;
    justify-content: space-around;
    .header-logo {
      width: 40%;
    }
    .nav {
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      margin-left: 0;
      transform: translateX(100%);
      display: none;
    }
    .reserve {
      width: 30%;
      margin-left: 0;
    }
    .nav-toggle {
      display: block;
    }
    .nav_toggle-color {
      background-color: #000;
    }
  }

  /*メインヴィジュアル*/
  .mv {
    .mv__img-wrap {
      width: 100vw;
      height: 100vh;
    }
    .mv__img {
      width: 100vw;
      height: 100vh;
    }

    .mv__txt-wrap {
      width: 45%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .mv__txt {
      font-size: 3rem;
    }
  }

  /*ヒストリー*/
  .history {
    .history__content {
      writing-mode: horizontal-tb;
      width: 90%;
    }
    .history__title {
      font-weight: bold;
      font-size: 3rem;
      text-indent: 0;
      letter-spacing: 2px;
    }
    .history__txt {
      letter-spacing: 7px;
    }
  }
  .content {
    width: 100%;
    .content__box {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      display: block;
      position: relative;
    }
    .content__img-wrap {
      width: 100%;
    }
    .button {
      margin: 0 auto;
    }
    .content__title {
      margin-top: 20px;
      font-size: 2.5rem;
    }
  }

  /*Planエリア*/
  .plan {
    .plan__wrapper {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    .plan__list {
      display: block;
    }
    .plan__img-wrap {
      width: 100%;
    }
    .plan__img {
      width: 100%;
    }
    .plan__item {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
  /*インフォメーション*/
  .information {
    .information__content {
      display: block;
    }
    .information__item {
      width: 100%;
    }
  }

  /*アクセスエリア*/
  .access {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .access__wrapper {
      display: block;
    }
    .access__img-wrap {
      width: 100%;
    }
    .access__img {
      width: 100%;
    }
    .access__info {
      width: 100%;
    }
    .map-img {
      width: 100%;
    }
  }
  .section {
    .content__img-wrap--sp-w {
      width: 100%;
    }
    .contents__body--sp-center {
      position: static;
      width: 100%;
      padding: 20px 0 0 0;
      height: auto;
    }
    .contents__img-wrap-right {
      position: static;
    }
    .breadcrumb,
    .breadcrumb {
      margin-bottom: 45px;
    }
    .contents__text--sp {
      line-height: 1.5;
    }
    .contents__title--mb {
      margin-bottom: 20px;
    }
  }
}
