@charset "UTF-8";

@media screen and (max-width: 764px) {
  
  .header {
    padding-top: 10px;
    justify-content: space-around;
    .header_logo {
      width: 40%;
    }
    .nav {
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      margin-left: 0;
      transform: translateX(100%);
      display: none;
    }
    .reserve {
      width: 30%;
      margin-left: 0;
    }
    .nav_toggle {
      display: block;
    }
  }

  /*メインヴィジュアル*/
  .mainvisual {
    .mv_img {
      width: 100vw;
      height: 100vh;
      img {
        width: 100vw;
        height: 100vh;
      }
    }
    .mv_txt_block {
      width: 45%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .mainvisual_txt {
        font-size: 3rem;
      }
    }
  }

  /*ヒストリー*/
  .history {
    .history_content {
      writing-mode: horizontal-tb;
      width: 90%;
      .history_title {
        font-weight: bold;
        font-size: 3rem;
        text-indent: 0;
        letter-spacing: 2px;
      }
      .histori_block p {
        letter-spacing: 7px;
      }
    }
  }
  .content {
    width: 100%;
    .content_box {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      display: block;
      position: relative;
    }
    .content_img {
      width: 100%;
    }
    .button {
      margin: 0 auto;
    }
    .content_title {
      margin-top: 20px;
      font-size: 2.5rem;
    }
  }

  /*Planエリア*/
  .plan {
    .plan_wrapper {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    .plan_list {
      display: block;
    }
    .plan_img {
      width: 100%;
      img {
        width: 100%
      }
    }
    .plan_item {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
  /*インフォメーション*/
  .information {
    .information_content {
      display: block;
    }
    .information_item {
      width: 100%;
    }
  }

  /*アクセスエリア*/
  .access {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .access_wrapper {
      display: block;
    }
    .access_img {
      width: 100%;
    }
    .access_info {
      width: 100%;
    }
    .map_img {
      width: 100%;
    }
  }
}
