@charset "UTF-8";

@media screen and (max-width: 764px) {
  .header {
    padding-top: 10px;
    justify-content: space-around;
    .header_logo {
      width: 40%;
    }
    .nav {
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      margin-left: 0;
      transform: translateX(100%);
      display: none;
    }
    .reserve {
      width: 30%;
      margin-left: 0;
    }
    .nav_toggle {
      display: block;
    }
  }

  /*メインヴィジュアル*/
  .mainvisual {
    .mv_img {
      width: 100vw;
      height: 100vh;
      img {
        width: 100vw;
        height: 100vh;
      }
    }
    .mv_txt_block {
      width: 45%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .mainvisual_txt {
        font-size: 3rem;
      }
    }
  }

  /*ヒストリー*/
  .history {
    .history_content {
      writing-mode: horizontal-tb;
      width: 90%;
      .history_title {
        font-weight: bold;
        font-size: 3rem;
        text-indent: 0;
        letter-spacing: 2px;
      }
      .histori_block p {
        letter-spacing: 7px;
      }
    }
  }
  .content {
    width: 100%;
    .content_box {
      display: block;
    }
  }

  /*Planエリア*/
  .plan {
    .plan_list {
      display: block;
    }
  }

  .information .information_content {
    display: block;
  }
}
