@charset "UTF-8";

@charset "UTF-8";

@import "base";

@import "mixin";

/* resetCSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”,
    “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  font-size: 1.6rem;
}

.modal {
  display: none;
}

/* ヘッダー */
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  .header-logo {
    width: 20%;
  }
  .header-logo__img {
    width: 100%;
  }
  .nav {
    width: 11%;
    margin-left: 6%;
  }
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav__link {
    color: #000;
  }

  .reserve {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 9%;
    margin-left: 53%;
    background-color: #978f10;
  }
  .reserve__link {
    display: block;
    padding: 10% 6%;
    font-size: 0.5rem;
  }
  .reserve__img {
    width: 15%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .nav-toggle {
    display: none;
    position: relative;
    width: 2.75rem;
    height: 2.6rem;
  }
  .nav-toggle__item {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }
  .nav-toggle__item:nth-child(1) {
    top: 0;
  }
  .nav-toggle__item:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav-toggle__item:nth-child(3) {
    bottom: 0;
  }
}
.main {
  margin-top: 65.719px;
}
/* KVエリア */
.kv {
  height: 500px;
  position: relative;
  .ky__img-wrapper {
    width: 100vw;
    .kv__img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }
  .kv__title {
    @include font(3.4rem);
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*メインエリア*/
.section {
  .section__inner {
    max-width: 1210px;
    padding: 33px 15px 84px 15px;
    margin: 0 auto;
  }
  .breadcrumb {
    display: flex;
    margin-bottom: 93px;
  }
  .breadcrumb__item:first-child::after {
    content: ">";
    margin-right: 10px;
    margin-left: 10px;
  }
  .section__subtitle-wrap {
    text-align: center;
    margin-bottom: 76px;
  }
  .contents {
    position: relative;
  }
  .section__contents {
    height: 431px;
  }
  .contents__img-wrap {
    width: 44.5%;
  }
  .contents__img-wrap-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .contents__img {
    object-fit: cover;
    width: 100%;
    display: block;
  }
  .contents__body {
    padding: 55px 5.4% 20px 20%;
    position: absolute;
    right: 0;
    top: 13.2%;
    width: 68.8%;
    height: 381px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
  }
  .contents__body-left {
    left: 0;
    padding-left: 5%;
  }
  .contents__title {
    font-size: $font24;
    font-weight: bold;
    margin-bottom: 45px;
  }
  .contents__text {
    line-height: 2;
    margin-bottom: 45px;
  }
  .contents__lead {
    font-size: $font14;
  }
}
.line {
  width: 100%;
  height: 1px;
  background: #E7E7E7;
}
/*footer*/
.footer {
  background-image: url(../img/bg3.png);
  padding-top: 5%;
  .footer_list {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    margin: 0 auto;
    margin-bottom: 90px;
    .footer_item {
      margin-right: 10px;
      font-size: 1.8rem;
      line-height: 1.7;
      a {
        letter-spacing: 2rem;
        color: #000;
      }
    }
  }
  .icon {
    text-align: center;
  }
  .section_title {
    margin-bottom: 5%;
    text-align: center;
    @include font;
  }
  .access_area {
    text-align: center;
    margin-bottom: 60px;
  }
  .cr {
    text-align: center;
    background-color: #000;
    height: 60px;
    align-self: center;
    .copyright {
      line-height: 60px;
      font-size: 1.2rem;
      color: #fff;
    }
  }
}
@media screen and (max-width: 764px) {
 


}

@import "responsive";
