@charset "UTF-8";

@charset "UTF-8";

@import "setting";
@import "mixin";

/* resetCSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”,
    “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  font-size: 1.6rem;
}

.modalArea {
  display: none;
}

/* ヘッダー */
.header {
  z-index: 999;
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  .header__logo {
    width: 10%;
    img {
      width: 100%;
    }
  }
  .nav {
    width: 11%;
    margin-left: 6%;
    .nav_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    a {
      color: #000;
    }
  }
  .reserve {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 9%;
    margin-left: 53%;
    background-color: #978f10;
    a {
      display: block;
      padding: 10% 6%;
      font-size: 0.5rem;
    }
    img {
      width: 15%;
      -o-object-fit: contain;
         object-fit: contain;
    }
  }
  .nav_toggle {
    display: none;
    position: relative;
    width: 2.75rem;
    height: 2.6rem;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }
  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }
}