@charset "UTF-8";

@import "base";
@import "mixin";

/* resetCSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”,
    “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  font-size: 1.6rem;
}

.section-title {
  margin-bottom: 5%;
  text-align: center;
  @include font;
}
.modal {
  display: none;
}
.icon {
  text-align: center;
}

/* ヘッダー */
.header {
  z-index: 999;
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  .header-logo {
    width: 20%;
  }
  .header-logo__img {
    width: 100%;
  }
  .nav {
    width: 11%;
    margin-left: 6%;
  }
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav__link {
    color: #fff;
  }

  .reserve {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 9%;
    margin-left: 53%;
    background-color: #978f10;
  }
  .reserve__link {
    display: block;
    padding: 10% 6%;
    font-size: 0.5rem;
  }
  .reserve__img {
    width: 15%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .nav-toggle {
    display: none;
    position: relative;
    width: 2.75rem;
    height: 2.6rem;
  }
  .nav-toggle__item {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }
  .nav-toggle__item:nth-child(1) {
    top: 0;
  }
  .nav-toggle__item:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav-toggle__item:nth-child(3) {
    bottom: 0;
  }
}

/* メインヴィジュアル*/

.mv {
  position: relative;
  width: 100%;
  .mv__img-wrap {
    width: 100%;
    height: auto;
  }
  .mv__img {
    width: 100%;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
  }

  .mv__txt-wrap {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: absolute;
    right: 25%;
    top: 32%;
  }
  .mv__txt {
    font-size: 2rem;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #fff;
  }
}

/*ヒストリーエリア*/
.history {
  width: 100%;
  height: 680px;
  position: relative;
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .history__content {
    padding: 13% 0 8% 0;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: inherit;
    margin: 0 auto;
  }
  .history__title {
    letter-spacing: 12px;
    padding-left: 0em;
    text-indent: -5rem;
    font-size: 2.8rem;
    line-height: 2;
  }
  .histori_txt {
    text-indent: 2rem;
  }
  .history__txt {
    letter-spacing: 3px;
    margin-left: 10px;
  }
  .history__kadan {
    letter-spacing: 7px;
    text-align: end;
    margin-bottom: 18px;
  }
}

/*ルームエリア*/
.content {
  margin-bottom: 10%;
  .content__title {
    margin-bottom: 60px;
    @include font;
  }
  .content__img-wrap {
    width: 54.685%;
  }
  .content__img {
    display: block;
    width: 100%;
  }
  .content__box {
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
  }
  .content__body {
    margin-left: 7%;
  }
  .button {
    @include button;
  }

  .content__body:nth-child(2) {
    margin: auto;
  }
  .content__text {
    margin-bottom: 60px;
    line-height: 2;
    letter-spacing: 0;
  }
}

.content-reverse {
  flex-direction: row-reverse;
}

/*  プランエリア  */

.section-title {
  margin-bottom: 5%;
  text-align: center;
  @include font;
}
.plan {
  padding: 7.7% 0 13%;
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  .plan__wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }
  .plan__list {
    display: flex;
    justify-content: space-between;
  }
  .plan__item {
    width: calc((100% / 3) - 14px);
  }
  .plan__img {
    margin-bottom: 3.5%;
  }
  .plan__title {
    margin-bottom: 3.5%;
    font-size: 2rem;
  }
}

/*お知らせエリア*/
.information {
  padding-top: 5.7%;
  margin: 0 auto;
  max-width: 1180px;
  .info__tab-wrap {
    text-align: center;
    margin-bottom: 5%;
  }
  .info__tab {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }
  .information__content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .information__item {
    display: flex;
    width: calc((100% / 2) - 16px);
    background-color: #f6f6f6;
    margin-bottom: 20px;
    padding: 10px;
  }
  .block__def {
    margin-left: 20px;
  }
  .information-content-etc {
    display: none;
  }
}
/* アクセスエリア */
.access {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  padding: 7% 0;
  .access__img-wrap {
    width: 45%;
  }
  .access__img {
    width: 100%;
  }
  .access__wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1180px;
    display: flex;
    justify-content: space-around;
  }
  .map-img {
    width: 41%;
    margin: 0 auto;
  }
  .access__info {
    width: 45%;
    padding: 20px 0;
  }
}

/*フッター*/
.footer {
  background-image: url(../img/bg3.png);
  padding-top: 5%;
  .footer__list {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  .footer__item {
    margin-right: 10px;
    font-size: 1.8rem;
    line-height: 1.7;
  }
  .footer__link {
    letter-spacing: 2rem;
    color: #000;
  }

  .section-title {
    margin-bottom: 65px;
  }
  .access-area {
    text-align: center;
    margin-bottom: 60px;
  }
  .cr {
    text-align: center;
    background-color: #000;
    height: 60px;
    align-self: center;
  }
  .cr__copyright {
    line-height: 60px;
    font-size: 1.2rem;
    color: #fff;
  }
}

@import "responsive";
