@charset "UTF-8";

@media screen and (max-width: 764px) {
  .header {
    .header_logo {
      width: 40%;
    }
    .nav {
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,.5);
      margin-left: 0;
      transform: translateX(100%);
      display: none;
    }
    .reserve {
      width: 30%;
      margin-left: 0;
    }
    .nav_toggle {
      display: block;
    }
  }

  /*ヒストリー*/
  .history .history_content {
    writing-mode:horizontal-tb;
  }
  .content {
    width: 100%;
    .content_box {
      display: block;
    }
  }

  /*Planエリア*/
  .plan {
    .plan_list {
      display: block;
    }
  }

  .information .information_content {
    display: block;
  }
}


