@charset "UTF-8";

// ブレークポイントの設定
$breakpoints: (
  xs: "only screen and (max-width: 320px)",
  s: "only screen and (max-width: 575px)",
  m: "screen and (max-width: 767px)",
  l: "only screen and (max-width: 991px)",
  xl: "only screen and (max-width: 1199px)",
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@media screen and (max-width:764px) {
  .mainvisual .mv_txt_block .mainvisual_txt {
    font-size: 3rem;
  }
}