@charset "UTF-8";

@import "responsive";

/* resetCSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”,
    “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  font-size: 1.6rem;
}

.modalArea {
  display: none;
}

/* ヘッダー */
.header {
  z-index: 999;
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  .header_logo {
    width: 10%;
   
    img {
      width: 100%;
    }
  }
  .nav {
    width: 11%;
    margin-left: 6%;
    .nav_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    a {
      color: #fff;
    }
  
  }
  .reserve {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 9%;
    margin-left: 63%;
    background-color: #978f10;
    
    a {
      display: block;
      padding: 10% 6%;
      font-size: 0.5rem;
    }
    img {
      width: 15%;
      object-fit: contain;
    }
  }
  .nav_toggle {
    display: none;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform .5s, opacity .5s;
  }
  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }  
}

/* メインヴィジュアル*/
.mainvisual {
  position: relative;
  width: 100%;
  .mv_img {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      object-fit: contain;
      display: block;
    }
  }
  .mv_txt_block {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: absolute;
    right: 25%;
    top: 32%;
    .mainvisual_txt {
      font-size: 2rem;
      writing-mode: vertical-rl;
      color: #fff;
    }
  }
}

/*ヒストリーエリア*/
.history {
  width: 100%;
  height: 680px;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: inherit;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .history_content {
    padding: 13% 0 8% 0;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: inherit;
    margin: 0 auto;
  }
  .history_title {
    letter-spacing: 12px;
    padding-left: 0em;
    text-indent: -5rem;
    font-size: 1.5rem;
    line-height: 2;
  }
  .histori_txt {
    text-indent: 2rem;
  }
  .histori_block p {
    letter-spacing: 3px;
    margin-left: 10px;
  }
  .history_kadan {
    letter-spacing: 7px;
    text-align: end;
    margin-bottom: 18px;
  }
}

/*ルームエリア*/
.content {
  margin-bottom: 10%;
  .content_box {
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    .content_img {
      width: 54.685%;
      img {
        display: block;
        width: 100%;
      }
    }
    .content_body {
      margin-left: 7%;
      .content_title {
        margin-bottom: 60px;
        font-size: 3.6rem;
      }
      .content_text {
        margin-bottom: 60px;
        line-height: 2;
        letter-spacing: 0;
      }
      .buttom {
        width: 200px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border: 1px solid #000;
      }
    }
  }
  .content_body:nth-child(2) {
    margin: auto;
  }
}
.content_reverse {
  flex-direction: row-reverse;
}

/*  プランエリア  */

.icon {
  text-align: center;
}
.section_title {
  margin-bottom: 5%;
  text-align: center;
  font-size: 3.6rem;
}
.plan {
  padding: 7.7% 0 13%;
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  .plan_wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }
  .plan_list {
    display: flex;
    justify-content: space-between;
  }
  .plan_item {
    width: calc((100% / 3) - 14px);
  }
  .plan_img {
    margin-bottom: 3.5%;
  }
  .plan_title {
    margin-bottom: 3.5%;
    font-size: 2rem;
  }
}

/*お知らせエリア*/
.information {
  padding-top: 5.7%;
  margin: 0 auto;
  max-width: 1180px;
  .info_tab {
    text-align: center;
    margin-bottom: 5%;
  }
  .tab {
    display: inline-block;
    margin-right: 20px;
  }
  .information_content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .information_item {
    display: flex;
    width: calc((100% / 2) - 16px);
    background-color: #f6f6f6;
    margin-bottom: 20px;
    padding: 10px;
  }
  .news_article {
    margin-left: 20px;
  }
  .information_content_etc {
    display: none;
  }
}
/* アクセスエリア */
.access {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  padding: 5% 0;
  .access_wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1180px;
    display: flex;
    justify-content: space-around;
    .access_img {
      width: 45%;
      img {
        width: 100%;
      }
    }
    .access_info {
      width: 45%;
      padding: 20px 0;
    }
  }
  .map_img {
    width: 41%;
    margin: 0 auto;
  }
}

/*フッター*/
.footer {
  background-image: url(../img/bg3.png);
  padding-top: 5%;
  .footer_list {
    writing-mode: vertical-lr;
    margin: 0 auto;
    margin-bottom: 90px;
    .footer_item {
      margin-right: 10px;
      font-size: 1.8rem;
      line-height: 1.7;
      a {
        letter-spacing: 2rem;
        color: #000;
      }
    }
  }
  .section_title {
    margin-bottom: 65px;
  }
  .access_area {
    text-align: center;
    margin-bottom: 60px;
  }
  .cr {
    text-align: center;
    background-color: #000;
    height: 60px;
    align-self: center;
    .copyright {
      line-height: 60px;
      font-size: 1.2rem;
      color: #fff;
    }
  }
}


